# .ignore
.ignore

# macOS
.DS_Store

# VS Code
.vscode

# Debian
# For debian build
*.dsc
*.deb
*.tar.xz
obj-x86_64-linux-gnu
*.ddeb
*.debhelper
*.tar.gz
*.buildinfo
*.changes
*.tar
*.upload
*.build

# For C/C++ and CMake
############################################# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.build
build

# ignore
*.ignore

############################################# C/C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Haskell
.stack-work/