#!/usr/bin/make -f

%:
	dh $@  --buildsystem=cmake

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build.d
	rm -rf *.build.d

override_dh_auto_configure:
	dh_auto_configure -- "-DENABLE_O3=On -DENABLE_OPENMP=On"

.PHONY: override_dh_auto_clean override_dh_auto_configure
